@font-face {
  font-family: "Grotesk";
  src: url(../fonts/grotesk.ttf) format("truetype");
}

@font-face {
  font-family: "Grotesk-Bold";
  src: url(../fonts/grotesk-bold.ttf) format("truetype");
}

h1 { font-family: "Grotesk-Bold", sans-serif }

body {
	background-image: url(../images/background.png);
	font-family: "Grotesk", sans-serif;
	overflow: scroll;
	display: grid;
	grid-template-columns: 1fr 400px;
}

#main {
	align-items: center;
	box-sizing: border-box;
	font: "Grotesk", sans-serif;
	justify-content: "center";
	padding: 2em;
}

#calendar{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 30px repeat(4, 1fr);
  max-width: 900px;
  min-width: 600px;
  width: 100%;
}

p {
 	margin-top: 3px;
    margin-bottom: 3px;
}

#calendar > *{
  justify-content: left;
  flex-grow: 1;
  margin-right: 10px;
  height: 0;
  min-width: 110px;
  padding-bottom: 90%;

/*  width: 1px;*/
}

#maintext {
	width: 300px;
	text-align: right;
	float: right;
	top:100px;
	display: block;
	position: relative;

}

.tooltip {
  background-color: white;
  color: black;
  left: 20;
  padding: 5px 15px;
  white-space: pre-wrap;
  width: 200px;
}

